* {
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
}
.for_page {
    min-height: 100%;
    position: relative;
}
.page {
    padding-bottom: 150px;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}
.clear {
    clear: both;
}
body {
    background: url("../img/background.png");
}

@media (min-width: 992px){
    body .container{
        max-width: 960px;
    }
}

@media (max-width: 767px){
    .page{
        padding-bottom: 113px;
    }
}

@media (max-width: 575px){
    body .container{
        max-width: 450px;
    }
    .page{
        padding-bottom: 96px;
    }
}

@media (max-width: 500px){
    body .container{
        max-width: 370px;
    }
    .page{
        padding-bottom: 109px;
    }
}

@media (max-width: 400px){
    body .container{
        max-width: 300px;
    }
    .page{
        padding-bottom: 125px;
    }
}

@media (max-width: 340px){
    body .container{
        max-width: 250px;
    }
}